.dialogContainer {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(173, 167, 130, 0.5);
    z-index: 999;
    overflow: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 16px;
    backdrop-filter: blur(4px);
}

.dialogContent {
    background-color: var(--yellow-100);
    margin: auto;
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    max-width: 600px;
    position: relative;

    h2 { 
        margin-bottom: 16px;
        margin-top: 8px;
    }

}

.table {
    background-color: rgb(255, 216, 41);
    padding: 8px;
    border-radius: 4px;
}

.dialogBack {
    background-color: transparent;
    border: 0;
}

.item {
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    font-size: 16px;
}

.description {
    color: #818181;
    margin-top: 4px;
}

.buttonOrder {
    background-color: var(--red-900);
    padding: 8px;
    border-radius: 8px;
    border: 0;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.name{
    margin-left: 16px;
}

.total {
    margin: 8px 0 16px 0;
}