.container {
 max-width: 720px;
 margin: 70px auto;
 padding: 0 16px;
 display: flex;
 flex-direction: column;
  h1{
        color: var(--brown-900);
    }

}

.form{
    display: flex;
    flex-direction: column;
    margin: 16px 0;
    gap: 16px;

    select {
        width: 100%;
        height: 40px;
        border-radius: 8px;
        background-color: var(--yellow-100);
        color: var(--black);
        padding: 0 8px;
        border: 1px solid var(--gray-100);
    }

    textarea{
        width: 100%;
        min-height: 120px;
        resize: none;
        padding: 8px;
        color: var(--black);
    }


}

.labelImage {
    width: 100%;
    height: 280px;
    position: relative;
    background-color: var(--yellow-900);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    flex-direction: column;
    margin-bottom: 16px;
    border: 1px solid var(--gray-100);
}

.inputFile {
    display: none;
}

.span {
    z-index: 99;
    opacity: 0.8;
    transition: all 0.6s;

    &:hover {
        opacity: 1;
        transform: scale(1.1);
    }
}

.preview {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;

}

.input{
    border: 0;
    height: 40px;
    background-color: var(--yellow-100);
    border: 1px solid var(--gray-100);
    border-radius: 8px;
    padding: 0 8px;
    color: var(--black);
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  background-color: var(--yellow-100) !important;
  box-shadow: 0 0 0px 1000px var(--yellow-100) inset !important;
  -webkit-text-fill-color: var(--black) !important;
  border-radius: 8px;
}